<!-- NAV -->
<div id="navbar" class="sticky">
<ul>
  <li class="nav-left">
    <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-left">
    <%= link_to 'Catalogo', catalog_index_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-right">
    <%= link_to 'Login', login_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-right">
    <%= link_to cart_index_path do %>
      <%= image_tag "icons/cart-cross.svg", class: "icon-small" %>
      Carrito
    <% end %>
  </li>
</ul>
</div>
