<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ÜP.com | Renta ropa en Internet - Monterrey</title>

  <!-- METADATA -->
  <meta name="description" content="ÜP.com es una página para rentar ropa por Internet a domicilio. Empezando en Monterrey."/>
  <meta property="og:site_name" content="ÜP.com"/>
  <meta property="og:title" content="Empieza a rentar ropa por Internet | ÜP"/>
  <meta name="keywords" content="Ropar,Renta,trajes, vestidos, camisas, formal, domicilio, Monterrey">
  <meta content="img/Up-Og-Image.jpg" property="og:image">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- <meta name="keywords" content="palabra clave 1, palabra clave 2, palabra clave 3"/> -->
  <meta property="og:url" content="https://www.ÜP.com"/>
   <!-- END METADATA -->

  <link rel="icon" href="img/up-icon.png"/>
  <link href="css/main.css" rel="stylesheet">
  <%= stylesheet_link_tag "index"%>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- INTRO PAGE -->
<%= render partial: "welcome/landing_view" %>

<%= render partial: "welcome/navigation" %>

  <center>
  <%= render partial: "welcome/up" %>

<!-- Flags List -->
  <!--START Mailchimp-->
  <a href="http://eepurl.com/grVgP1" target="_blank">
  <div class="btn-group" role="group" aria-label="Third group">
  </div>
  </a>
  <!--END Mailchimp-->

  </center>
<!--Footer-->
<%= render partial: "welcome/footer" %>

<!-- SCRIPTS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142285047-1"></script><script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)} gtag('js',new Date());gtag('config','UA-142285047-1');</script>
</body>
</html>
<!-- CopyRight @ ÜP 2019. All rights reserved. *LCAM* -->
