<h1>Add new product</h1>

<%= form_with(model: @product, local: true, html: {class: 'form'}) do |form|%>

<div class="form__field">
  <%= form.label :name%>
  <%= form.text_field :name%>
</div>

<div class="form__field">
  <%= form.label :description%>
  <%= form.text_area :description%>
</div>

<div class="form__field">
  <%= form.label :alt_img%>
  <%= form.text_field :alt_img%>
</div>

<div class="form__field">
  <%= form.label :thumbnail%>
  <%= form.file_field :thumbnail, multiple: false, direct_upload: false %>
</div>

<div class="form__field">
  <%= form.label :price%>
  <%= form.text_field :price%>
</div>


<%= form.submit 'Add product', :class => 'button'%>
<%end%>